.charts-container {
    background-color: var(--content);
    border-radius: 5px;
    height: 90vh;
    width: 1100px;
    position: absolute;
}

.tab-row {
    height: 35px;
    background-color: #242D48;
}

.row {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 50%;
    height: 100%;
    background-color: #242D48;
}

.active-row {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 50%;
    height: 100%;
    background-color: var(--content);
    border-top: rgb(255, 255, 255) solid 1px;
}


.tab-btn {
    width: 100%;
    height: 100%;
    font-family:  sora;
    font-weight: 600;
}

.active-tab-btn {
    width: 100%;
    height: 100%;
    font-weight: 600;

}

.tab-btn:hover {
    background-color: #181f32;
}
